.color {
  color: #273051;
  color: #f2cd12;
  color: #7a7a7a;
  color: #4da408;
  color: #5a5a5a;
  color: #c5a60b;
  color: #dbd5be;
  color: #363b4e;
  color: #2f3447;
  color: #f6f6f6;
  color: #4a4444;
  color: #f2f3f5;
  color: #72eab7;
  color: #5266c6;
}

.wrapper-padding {
  padding: 60px 0px;
}

/* ---Page Kindergerten */

/*Section logo global */
.logo {
  padding: 10px 0;
  background-color: #273051;
  color: white;
}

.logo .img {
  float: left;
  display: inline-block;
  cursor: pointer;
}

.logo .button {
  float: right;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #f2cd12;
  display: inline-block;
  cursor: pointer;
}

.logo .button:hover {
  color: white;
  background-color: #4da408;
}

.logo.kindergarten .img img {
  float: left;
  display: inline-block;
  cursor: pointer;
  width: 120px;
}

.logo.kindergarten .button {
  float: right;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #f2cd12;
  display: inline-block;
  cursor: pointer;
  margin-top: 8px;
}

.logo.kindergarten .button:hover {
  color: white;
  background-color: #4da408;
}

/* End Section logo global */

/*Section menu bar global */
.menu-bar {
  background-color: #fefefe;
}

.menu-bar .navbar i {
  font-size: 40px;
}

.menu-bar.kindergarten .navbar-nav .nav-item {
  color: #7a7a7a;
}

.menu-bar.kindergarten .navbar-nav .nav-item.bottom-active:after {
  content: "";
  height: 2px;
  width: 150px;
  background-color: #4da408;
  margin-top: 5px;
  margin-left: -15px;
  display: block;
}

/*Section menu bar global */

/*Section jumbotron */
.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  margin-bottom: 0px;
}

.jumbotron.kindergarten {
  background-image: url(../image/kindergarten/Jumbotron/download.jpg);
  border-radius: 0px;
}

/* End Section jumbotron */

/*Section visi misi */
.visi-misi h1 {
  text-align: center;
  font-weight: bold;
  color: #5a5a5a;
  margin-bottom: 30px;
}

.visi-misi .cirle-paragraf {
  display: block;
  margin-bottom: 30px;
}

.visi-misi .cirle-paragraf .circle {
  float: left;
  width: 35px;
  height: 35px;
  background-color: #f1be10;
  border: 3px solid #c5a60b;
  border-radius: 20px;
}

.visi-misi .cirle-paragraf .paragraf {
  color: #5a5a5a;
  font-size: 20px;
  margin-left: 50px;
}

/* End Section visi misi */

/* Section galerry */
.galerry {
  background-image: url("../image/kindergarten/Gallery/back.jpg");
  background-color: red;
}

.galerry h4 {
  text-align: center;
  margin-bottom: 20px;
}

.galerry h6 {
  text-align: center;
  font-weight: 200;
  position: relative;
}

.galerry h6:before {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #212529;
  display: block;
  position: absolute;
  top: 10px;
  left: 350px;
}

.galerry h6:after {
  content: '';
  width: 100px;
  height: 2px;
  background-color: #212529;
  display: block;
  position: absolute;
  top: 10px;
  right: 350px;
}

.galerry .tab-gallery {
  display: block;
}

.galerry .tab-gallery .nav {
  margin-top: 30px !important;
  margin-bottom: 60px !important;
}

.galerry .tab-gallery .nav li.nav-item {
  background-color: white;
  min-width: 130px;
  margin-right: 10px;
  border: 1px solid #c5a60b;
  border-radius: 5px;
}

.galerry .tab-gallery .nav li.nav-item a {
  text-align: center;
  color: #212529;
  font-size: 16px;
  position: relative;
}

.galerry .tab-gallery .nav li.nav-item .nav-link {
  display: block;
  width: 100%;
  height: 100%;
}

.galerry .tab-gallery .nav li.nav-item .nav-link.active {
  background-color: #72eab7;
  padding: 10px 0;
}

.galerry .tab-gallery .tab-content .box-img {
  cursor: pointer;
  margin-bottom: 30px;
  border-top-right-radius: 50px;
  position: relative;
}

.galerry .tab-gallery .tab-content .box-img:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(37, 170, 128, 0.7);
  border-top-right-radius: 50px;
  border: 10px solid white;
  opacity: 0;
}

.galerry .tab-gallery .tab-content .box-img::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00e";
  top: 50%;
  left: 45%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 28px;
  color: white;
  display: none;
}

.galerry .tab-gallery .tab-content .box-img img {
  width: 350px;
  border-top-right-radius: 50px;
}

.galerry .tab-gallery .tab-content .box-img:hover:before {
  opacity: 1;
}

.galerry .tab-gallery .tab-content .box-img:hover:after {
  display: block;
}

/* End section gallery */

/* Section ourteam */
.ourteam {
  background-color: #f6f6f6;
}

.ourteam h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
}

.ourteam .owl-carousel .owl-nav {
  top: -150px;
  display: block !important;
  position: relative !important;
}

.ourteam .owl-carousel .owl-nav button span {
  font-size: 21px;
  position: relative;
  top: 2px;
}

.ourteam .owl-carousel .owl-nav button.owl-prev,
.ourteam .owl-carousel .owl-nav button.owl-next {
  padding: 8px 14px !important;
  background-color: #4a4444 !important;
  color: white;
  border-radius: 20px !important;
  text-align: center;
}

.ourteam .owl-carousel .owl-nav button.owl-prev {
  left: -20px;
  position: absolute;
}

.ourteam .owl-carousel .owl-nav button.owl-next {
  right: -20px;
  position: absolute;
}

.ourteam .owl-carousel .owl-nav button:hover {
  background-color: #c5a60b !important;
  outline: none;
}

.ourteam .box-team img {
  background-size: cover;
  width: 100px !important;
  height: 100px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 auto 10px;
}

.ourteam .box-team h6 {
  text-align: center;
}

.ourteam .box-team h6.status {
  color: #4da408;
}

/* End Section ourteam */

/* Section career */
.career {
  background-image: url(../image/kindergarten/Carer/back.jpg);
  height: 630px;
  position: relative;
}

.career::before {
  content: "";
  position: absolute;
  background-color: rgba(63, 114, 216, 0.48);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.career {
  color: white;
}

.career .container {
  position: relative;
  z-index: 1;
}

.career h4 {
  text-align: center;
  margin-bottom: 20px;
}

.career h6 {
  text-align: center;
  font-weight: 400 !important;
  margin-bottom: 20px;
}

.career h5.first-info {
  margin-bottom: 35px;
}

.career .cirle-paragraf {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.career .cirle-paragraf .circle {
  width: 35px;
  height: 35px;
  background-color: #f1be10;
  border: 3px solid #c5a60b;
  border-radius: 20px;
  float: left;
}

.career .cirle-paragraf .paragraf {
  margin-left: 45px !important;
}

.career h5.last-info {
  margin-top: 25px;
}

/* End Section career */

/* Section ourpatner */
.ourpartner h4 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.ourpartner .owl-carousel img {
  width: 100px !important;
  height: 100px;
  margin: 0 auto;
}

.ourpartner .owl-carousel .owl-nav {
  top: -80px;
  position: relative !important;
}

.ourpartner .owl-carousel .owl-nav button.owl-prev,
.ourpartner .owl-carousel .owl-nav button.owl-next {
  padding: 8px 14px !important;
  background-color: #4a4444 !important;
  color: white;
  border-radius: 20px !important;
  text-align: center;
}

.ourpartner .owl-carousel .owl-nav button span {
  font-size: 21px;
  position: relative;
  top: 2px;
}

.ourpartner .owl-carousel .owl-nav button:hover {
  background-color: #c5a60b !important;
  outline: none;
}

.ourpartner .owl-carousel .owl-nav .owl-prev {
  left: 10px;
  position: absolute;
}

.ourpartner .owl-carousel .owl-nav .owl-next {
  right: 10px;
  position: absolute;
}

/* End Section ourpatner */

/* Section footer */
.footer {
  background-color: #363b4e;
}

.footer h4 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer h5 {
  color: white;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.footer a h5:hover {
  color: #f1be10;
  text-decoration: none;
}

/* End Section footer */

/* Section copyright */
.copyright {
  padding: 40px 0;
  background-color: #2f3447;
  color: white;
}

.copyright h6 {
  float: left;
  margin-top: 15px;
}

.copyright .sosial-media {
  float: right;
}

.copyright .sosial-media .icon {
  border: 1px solid white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  padding: 10px 0;
  float: left;
  border-radius: 20px;
  margin-right: 30px;
  text-decoration: none;
}

.copyright .sosial-media .icon:hover {
  border: none;
  background-color: white;
}

.copyright .sosial-media .icon:hover i {
  color: #2f3447;
}

.copyright .sosial-media .icon i {
  color: white;
  text-align: center;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

/* End Section copyright */

/* .eksul {
  border: 1px solid;
  background-color: #F2F3F5;
  position: relative;
  .box-eksul {
      width: 60%;
      float: left;
      margin-left: 80px;
      .owl-carousel {
          .box-owl-eksul{
              width: 250px;
              border: 1px solid red;  
              .title-icon{
                  display: block;
                  border: 1px solid;
                  .title{
                      float: left;
                      color: red;
                      width: 150px;
                  }
              }
              .paragraf{
                  color: white;
                  float: left;
              }
          }
          .owl-nav {
              top: -80px;
              display: block !important;
              position: relative !important;
              button.owl-prev,
              button.owl-next {
                  padding: 8px 14px !important;
                  background-color: #72EAB7 !important;
                  color: white;
                  border-radius: 20px !important;
                  text-align: center;
                  &:hover {
                      background-color: #c5a60b !important;
                      outline: none;
                  }
              }
              button.owl-prev {
                  left: -50px;
                  position: absolute;
              }
              button.owl-next {
                  right: -50px;
                  position: absolute;
              }
          }
      }
  }
  .info-more {
      background-color: rgba(29,233,182, 100);
      width: 30%;
      height: 100%;
      position: absolute;
      float: left;
      right: 0;
      border-top-left-radius: 40px;
      padding-left: 30px;
  }
} */


/* ---End Page Kindergerten */

/* ---Page Elementary */

/* Section logo */
.logo.elementary img {
  width: 100px !important;
}

/* End Section logo */

/* Section navbar */
.menu-bar.elementary .navbar-nav .nav-item {
  color: #7a7a7a;
}

.menu-bar.elementary .navbar-nav .nav-item.bottom-active:after {
  content: "";
  height: 2px;
  width: 150px;
  background-color: #f2cd12;
  margin-top: 5px;
  margin-left: -15px;
  display: block;
}

/* End Section navbar */

/* Section content */
.content .box-content .img img {
  width: 100%;
  height: 650px;
}

.content .box-content .box-date {
  margin-top: 10px;
}

.content .box-content .box-date i {
  font-size: 30px;
  margin-right: 10px;
}

.content .box-content .box-date span {
  font-size: 13px;
  position: relative;
  top: -8px;
}

.content .box-content h4 {
  margin-top: 15px;
  font-size: 28px;
  font-weight: bold;
}

.content .box-content .box-paragraf {
  padding-right: 200px;
}

.content .box-content .box-paragraf p {
  text-indent: 20px;
  font-size: 24px;
  font-weight: 300;
}

.content .box-content .box-paragraf p.by {
  text-indent: 0;
  margin-bottom: 60px;
}

.content .title-post {
  border-bottom: 2px solid #f2cd12;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.content .card {
  border: none;
}

.content .card img {
  border-radius: 0;
}

.content .card .card-body {
  z-index: 99px;
  border-top-right-radius: 30px;
  margin-top: -25px;
  background-color: white;
  border: none;
}

.content .card .card-body span {
  font-size: 12px;
}

.content .card .card-body h6 {
  margin-top: 5px;
}

.content .title-post {
  width: 165px;
}

.content .card .card-body p {
  font-size: 15px;
}

/* End Section content */

/* ---End Page Elementary */

/* Page Junior*/
/*Section logo global */
.logo.junior .img img {
  float: left;
  display: inline-block;
  cursor: pointer;
  width: 150px;
}

.logo.junior .button {
  float: right;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #5266c6;
  display: inline-block;
  cursor: pointer;
}

.logo.junior .button:hover {
  color: white;
  background-color: #f2cd12;
}

/* End Section logo global */

/* Section menu bar */
.menu-bar.junior .navbar-nav .nav-item {
  color: #7a7a7a;
}

.menu-bar.junior .navbar-nav .nav-item.bottom-active:after {
  content: "";
  height: 2px;
  width: 150px;
  background-color: #5266c6;
  margin-top: 5px;
  margin-left: -15px;
  display: block;
}

/* End Section menu bar */

/* Section content */
.content.junior .title-post {
  border-bottom: 2px solid #5266c6;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.news h4 {
  margin-bottom: 100px;
  text-align: center;
  font-weight: bold;
}

.news .card {
  border: none;
  border-radius: 0;
}

.news .card img {
  border-radius: 0;
}

.news .card .card-body {
  background-color: white;
  border-top-right-radius: 30px;
  margin-top: -30px;
  padding-left: 0;
}

.news .card .card-body h6 {
  margin-top: 5px;
}

.news .card .card-body span {
  font-size: 12px;
}

.news .card .card-body p {
  font-size: 15px;
}

<<<<<<< HEAD
=======

>>>>>>> 9f1be1f7cb238aa1577453b26b78ef56ed5141c7
/* ---End Page Junior */