/* Responsive */
@media (min-width: 320px) and (max-width: 575px) {
    /*---Page Kindergarten */

    /* section career */
    .career {
        height: 980px;
    }

    /* end section career */

    /* section news */
    .news .card {
        margin: 0 auto;
    }

    /* end section news */

    /* section galerry */
    .galerry .tab-gallery .tab-content .box-img img {
        width: 100%;
    }

    .galerry h6:before,
    .galerry h6:after {
        display: none;
    }

    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: 0px;
        left: 0px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 45%;
    }

    /* end section gallery */

    /* section footer */
    .footer h5.paragraf-information {
        margin-bottom: 60px;
    }

    /* end section footer */

    /* section copyright */
    .copyright h6 {
        display: block;
        margin-bottom: 30px;
    }

    .copyright .sosial-media {
        float: none !important;
    }

    /* end section copyright */

    /*---Page Kindergarten */

    /* ---Page Elementary */
    /* section content */
    .content .box-content .img img {
        height: 300px;
    }

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    .content .box-content .box-paragraf p {
        text-indent: 0px;
    }

    /* End section content */

    /* ---End Page Elementary */
}

@media (min-width: 576px) and (max-width: 767px) {
    /*---Page Kindergarten */

    /* section career */
    .career {
        height: 780px;
    }

    /* end section career */

    /* section news */
    .news .card {
        margin: 0 auto;
    }

    /* end section news */
    /* section gallery */
    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: 70px;
        left: 70px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 45%;
    }

    /* End ection gallery */

    /*---End Page Kindergarten */

    /* ---Page Elementary */
    /* section content */
    .content .box-content .img img {
        height: 400px;
    }

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    /* End section content */

    /* ---End Page Elementary */
}

@media (min-width: 768px) and (max-width: 991px) {
    /*---Page Kindergarten */

    /* section career */
    .career {
        height: 780px;
    }

    /* section career */

    /* section gallery */
    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: -20px;
        left: 0px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 50%;
    }

    /* End ection gallery */

    /*---Page Kindergarten */
    /*---Page Elementary */
    /* section content */
    .content .box-content .img img {
        height: 400px;
    }

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    /* End section content */

    /* ---End Page Elementary */
}

@media (min-width: 992px) and (max-width: 1199px) {

    /*---Page Kindergarten */
    /* section gallery */
    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: 50px;
        left: 40px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 45%;
    }

    /* End ection gallery */
    /*---End Page Kindergarten */
    /*---Page Elementary */
    /* section content */

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    /* End section content */

    /* ---End Page Elementary */
}

@media (min-width: 1200px) {}