/* Responsive */
@media (min-width: 320px) and (max-width: 575px) {

    /*---Page Kindergarten 320 */
    /* section jumbotron */
    .jumbotron.kindergarten {
        height: 200px;
    }

    /* end section jumbotron */
    /* section career */
    .career {
        height: 980px;
    }

    /* end section career */
    /* section news */
    .news .card {
        margin: 0 auto;
    }

    /* end section news */
    /* section galerry */
    .galerry .tab-gallery .tab-content .box-img img {
        width: 100%;
    }

    .galerry h6:before,
    .galerry h6:after {
        display: none;
    }

    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: 0px;
        left: 0px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 45%;
    }

    /* end section gallery */
    /* section eskul */
    .eskul {
        height: 560px;
    }

    .eskul .box-litle {
        height: 245px;
    }

    .eskul .box-big {
        padding: 30px 0px;
    }

    .eskul .box-litle .box-text {
        top: 50%;
    }

    /* end eskul */
    /* section quotes */
    .quotes .bg-animals .icon-text {
        width: 90%;
        padding: 30px 0px;
    }

    /* end section quotes */
    /* section ourteam */
    .ourteam .owl-carousel .owl-nav button.owl-prev {
        left: 15px;
    }

    .ourteam .owl-carousel .owl-nav button.owl-next {
        right: 15px;
    }

    /* End section ourteam */
    /* section information */
    .information {
        height: 730px;
    }

    .information .box-little {
        height: 200px;
        margin-bottom: 20px;
    }

    .information .owl-carousel .box-big .content {
        width: 260px;
    }

    .information .owl-carousel .box-big {
        width: 280px;
    }

    .information .box-little {
        height: 350px;
    }

    /* end section information */
    /* section footer */
    .footer h5.paragraf-information {
        margin-bottom: 60px;
    }

    /* end section footer */

    /* section copyright */
    .copyright h6 {
        display: block;
        margin-bottom: 30px;
    }

    .copyright .sosial-media {
        float: none !important;
    }

    /* end section copyright */
    /*---End Page Kindergarten */
    /* ---Page Elementary 320 */

    /* section jumbotron */

    .jumbotron.elementary {
        height: 200px;
    }

    /* end section jumbotron */
    /* section gallery teacher */
    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-prev {
        left: 15px;
    }

    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-next {
        right: 15px;
    }

    /* End section gallery teacher */
    /* section content */
    .content .box-content .img img {
        height: 300px;
    }

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    .content .box-content .box-paragraf p {
        text-indent: 0px;
    }

    /* End section content */
    /* section ourteam */
    .ourteam.elementary .box-team img {
        width: 150px !important;
        height: 120px;
        border-radius: 50px;
    }

    .ourteam.elementary .owl-carousel .owl-nav button.owl-next {
        right: 15px;
        position: absolute;
    }

    .ourteam.elementary .owl-carousel .owl-nav button.owl-prev {
        left: 15px;
        position: absolute;
    }

    /* End section ourteam */

    /* ---End Page Elementary */
    /* ---Page Junior 320 */

    /* section jumbotron */

    .jumbotron.junior {
        height: 200px;
    }

    /* end section jumbotron */
    /* section achi */
    .achievement {
        height: 550px;
    }

    .achievement .box-little {
        height: 300px;
        margin-bottom: 30px;
    }

    .achievement .owl-carousel .box-image img {
        width: 300px;
        height: 200px;
    }

    .achievement .owl-carousel .owl-nav button.owl-prev,
    .achievement .owl-carousel .owl-nav button.owl-next {
        top: 40%;
    }

    .achievement .owl-carousel .owl-nav button.owl-next {
        right: 10px;
    }


    .achievement .owl-carousel .owl-nav button.owl-prev {
        left: 10px;
    }

    /* end section achi */
    /* section activitas */
    .student-activitas h6:before,
    .student-activitas h6:after {
        content: '';
        display: none;
    }

    /* section eskul */
    .eskul.junior .box-litle {
        height: 240px;
    }

    /* end section eskul */
    /* ---End Page Junior */
}

/* ------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px) and (max-width: 767px) {

    /*---Page Kindergarten */
    /* section jumbotron */
    .jumbotron.kindergarten {
        height: 400px;
    }

    /* end section jumbotron */
    /* section career */
    .career {
        height: 780px;
    }

    /* end section career */
    /* section news */
    .news .card {
        margin: 0 auto;
    }

    /* end section news */
    /* section gallery */
    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: 70px;
        left: 70px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 45%;
    }

    /* End ection gallery */
    /* section quotes */
    .quotes .bg-animals .icon-text {
        width: 90%;
        padding: 30px 0px;
    }

    /* end section quotes */
    /* section eskul */
    .eskul {
        height: 560px;
    }

    .eskul .box-litle {
        height: 245px;
    }

    .eskul .box-big {
        padding: 30px 0px;
    }

    .eskul .box-litle .box-text {
        top: 50%;
    }

    /* end eskul */
    /* section information */
    .information {
        height: 560px;
    }

    .information .box-little {
        height: 200px;
        margin-bottom: 20px;
    }

    /* end section information */
    /*---End Page Kindergarten */
    /* ---Page Elementary 576 */

    /* section gallery teacher */
    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-prev {
        left: 15px;
    }

    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-next {
        right: 20px;
    }

    /* End section gallery teacher */
    /* section jumbotron */

    .jumbotron.elementary {
        height: 300px;
    }

    /* end section jumbotron */
    /* section content */
    .content .box-content .img img {
        height: 400px;
    }

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    /* End section content */
    /* section ourteam */
    .ourteam.elementary .owl-carousel .owl-nav button.owl-next {
        right: 10px;
        position: absolute;
    }

    .ourteam.elementary .owl-carousel .owl-nav button.owl-prev {
        left: 10px;
        position: absolute;
    }

    /* End section ourteam */
    /* ---End Page Elementary */
    /* ---Page Junior 576 */

    /* section jumbotron */

    .jumbotron.junior {
        height: 300px;
    }

    /* end section jumbotron */
    /* section achi */
    .achievement {
        height: 550px;
    }

    .achievement .box-little {
        height: 300px;
        margin-bottom: 30px;
    }

    .achievement .owl-carousel .box-image img {
        width: 300px;
        height: 200px;
    }

    .achievement .owl-carousel .owl-nav button.owl-prev,
    .achievement .owl-carousel .owl-nav button.owl-next {
        top: 40%;
    }

    .achievement .owl-carousel .owl-nav button.owl-next {
        right: 10px;
    }


    .achievement .owl-carousel .owl-nav button.owl-prev {
        left: 10px;
    }

    /* end section achi */
    /* section eskul */
    .eskul.junior .box-litle {
        height: 240px;
    }

    .galerry.junior .tab-gallery .tab-content .box-img:before {
        right: 80px;
        left: 80px;
    }

    /* end section eskul */
    /* ---End Page Junior */
}

/* ------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {

    /*---Page Kindergarten 768 *
    /* section jumbotron */
    .jumbotron.kindergarten {
        height: 400px;
    }

    /* end section jumbotron */
    /* section career */
    .career {
        height: 780px;
    }

    /* section career */
    /* section gallery */
    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: -20px;
        left: 0px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 50%;
    }

    .galerry h6:after {
        right: 150px !important;
    }

    .galerry h6::before {
        left: 150px !important;
    }

    /* end section gallery */
    /* section eskul */
    .eskul {
        height: 560px;
    }

    .eskul .box-litle {
        height: 245px;
    }

    .eskul .box-big {
        padding: 30px 0px;
    }

    .eskul .box-litle .box-text {
        top: 40%;
    }

    /* end eskul */
    /* section quotes */
    .quotes .bg-animals .icon-text {
        width: 90%;
        padding: 30px 0px;
    }

    /* end section quotes */
    /* section information */
    .information {
        height: 560px;
    }

    .information .box-little {
        height: 200px;
        margin-bottom: 20px;
    }

    /* end section information */
    /*---End Page Kindergarten *
    /*---Page Elementary 768 */

    /* section jumbotron */

    .jumbotron.elementary {
        height: 400px;
    }

    /* end section jumbotron */
    /* section gallery teacher */
    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-prev {
        left: -20px;
    }

    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-next {
        right: -20px;
    }

    /* section gallery teacher */
    /* section content */
    .content .box-content .img img {
        height: 400px;
    }

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    /* End section content */
    /* section ourteam */
    .ourteam.elementary .owl-carousel .owl-nav button.owl-prev {
        left: -30px;
        position: absolute;
    }

    .ourteam.elementary .owl-carousel .owl-nav button.owl-next {
        right: -30px;
        position: absolute;
    }

    /* End section ourteam */
    /* ---End Page Elementary */
    /* ---Page Junior 768 */

    /* section jumbotron */

    .jumbotron.junior {
        height: 400px;
    }

    /* end section jumbotron */
    /* section achi */
    .achievement {
        height: 550px;
    }

    .achievement .box-little {
        height: 300px;
        margin-bottom: 30px;
    }

    .achievement .owl-carousel .box-image img {
        width: 300px;
        height: 200px;
    }

    .achievement .owl-carousel .owl-nav button.owl-prev,
    .achievement .owl-carousel .owl-nav button.owl-next {
        top: 40%;
    }

    .achievement .owl-carousel .owl-nav button.owl-next {
        right: 10px;
    }


    .achievement .owl-carousel .owl-nav button.owl-prev {
        left: 10px;
    }

    /* end section achi */
    /* section eskul */
    .eskul.junior .box-litle {
        height: 240px;
    }

    /* end section eskul */
    /* End Page Junior */
}

/* ------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {

    /*---Page Kindergarten 992 */
    /* section jumbotron */

    .jumbotron.elementary {
        height: 400px;
    }

    /* end section jumbotron */
    /* section gallery */
    .galerry .tab-gallery .tab-content .box-img {
        text-align: center;
    }

    .galerry .tab-gallery .tab-content .box-img:before {
        right: 50px;
        left: 40px;
    }

    .galerry .tab-gallery .tab-content .box-img::after {
        left: 45%;
    }

    .galerry h6:after {
        right: 270px !important;
    }

    .galerry h6::before {
        left: 270px !important;
    }

    /* section quotes */
    .quotes .bg-animals .icon-text {
        width: 80%;
        padding: 30px 0px;
    }

    /* end section quotes */
    /* End ection gallery */
    /*---End Page Kindergarten */
    /*---Page Elementary 992  */

    /* section content */

    .content .box-content .box-paragraf {
        padding-right: 0px;
    }

    /* End section content */
    /* section gallery teacher */
    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-prev {
        left: -10px;
    }

    .galerry.teacher.elementary .owl-carousel .owl-nav button.owl-next {
        right: -10px;
    }

    /* section gallery teacher */
    /* section ourteam */
    .ourteam.elementary .owl-carousel .owl-nav button.owl-prev {
        left: -20px;
        position: absolute;
    }

    .ourteam.elementary .owl-carousel .owl-nav button.owl-next {
        right: -20px;
        position: absolute;
    }

    /* end section ourteam */
    /* ---End Page Elementary */
    /* ---Page junior 992 */
    /* section jumbotron */

    .jumbotron.junior {
        height: 400px;
    }

    /* end section jumbotron */
    /* section achi */
    .achievement {
        height: 320px;
    }

    .achievement .box-little {
        height: 300px;
        margin-bottom: 30px;
    }

    .achievement .owl-carousel .box-image img {
        width: 400px;
        height: 260px;
    }

    .achievement .owl-carousel .owl-nav button.owl-prev,
    .achievement .owl-carousel .owl-nav button.owl-next {
        top: 40%;
    }

    .achievement .owl-carousel .owl-nav button.owl-next {
        right: 10px;
    }


    .achievement .owl-carousel .owl-nav button.owl-prev {
        left: 10px;
    }

    /* end section achi */
    /* ---End Page junior */
}

/* ------------------------------------------------------------------------------------------------------------------- */